body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  color: #f9faf8;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}
.right img {
  width: 300px;
  height: auto;
}

.gallery-container img {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
li {
  font-size: 18px;
  color: #e5e7eb;
}

.header-button button,
.cta-container,
.cta-container button {
  background-color: #3882f6;
}

.cta-container button {
  color: white;
}

.gallery {
  background-color: white;
  color: #1f2937;
}

.gallery-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote-container {
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
