.right img {
  width: 300px;
  height: auto;
}

.gallery-container img {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
