body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  color: #f9faf8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.header {
  display: flex;
  padding: 45px;
  justify-content: space-between;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
  width: 330px;
}

.header-button button {
  padding: 10px 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin: 10px 0px;
  border-radius: 8px;
}

.left p {
  width: 450px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}
.right img {
  width: 400px;
  height: auto;
  border-radius: 8px;
}

.gallery-container img {
  width: 100px;
  height: auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
li {
  font-size: 18px;
  color: #e5e7eb;
}

.header-button button,
.cta-container,
.cta-container button {
  background-color: #3882f6;
}

.cta-container button {
  color: white;
}

.gallery {
  background-color: white;
  color: #1f2937;
}

.gallery-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 30px;
}

/* Stick footer to bottom */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 30px;
}

/* Gallery */

.gallery-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 54px;
  padding-bottom: 40px;
}

.gallery-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  border: 4px solid #3882f6;
}

.info {
  max-width: 200px;
}

/* Quote */

.quote-container {
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  padding: 100px;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.author {
  font-size: 22px;
  font-weight: bold;
  align-self: flex-end;
  margin-top: 32px;
}
